## 데이터 합치기, CSV 파일 불러오기

### 데이터 합치기

https://github.com/SeojinSeojin/aai2009/blob/main/data/merge_data.ipynb

이곳에 데이터를 합치는 과정이 있습니다. 

더 추가하고 싶으면 위 소스를 받아서 merge_data.ipynb를 수정해야 합니다.

- [x] 시간별 서울/베이징 미세먼지 데이터
- [x] 일자별 서울 대기 데이터
- [x] 일자별 한국 발전량 데이터
- [ ] 일자별 서울 건설공사 데이터
- [ ] 시간별 서울 기상정보 데이터

### 합쳐진 CSV 파일 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/SeojinSeojin/aai2009/b1411c4a2fdd9034341a6505d7206fa5738f0529/data/all.csv")

In [ ]:
df.head()

,Year,Month,Day,UTCHour,Seoul_PM10,Seoul_PM2.5,Beijing_PM2.5,Beijing_PM10,Seoul_NO2,Seoul_O3,...,JN_Coal,JB_LNG,JB_Coal,JB_Oil,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG
0,2018,1,1,0,36.0,18.0,25.625,102.0,0.035946,0.010081,...,26116.0,0.0,19139.0,404.0,6834.0,10867.0,290788.0,0.0,1107.0,NaN
1,2018,1,1,1,36.0,18.0,33.540,95.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,2,35.0,17.0,45.430,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,3,34.0,18.0,58.410,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,4,34.0,18.0,68.650,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 데이터 통계 (개수, 평균, 분산 등)

In [ ]:
df[['Seoul_PM2.5', 'Seoul_PM10','Beijing_PM2.5', 'Beijing_PM10', 'Seoul_NO2', 'Seoul_O3', 'Seoul_CO',
       'Seoul_SO2', 'GW_LNG', 'GW_Coal', 'GG_LNG', 'GG_Coal', 'GG_Oil',
       'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG', 'Daegu_LNG',
       'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil', 'Busan_LNG',
       'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG', 'Ulsan_Oil',
       'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal', 'JB_LNG', 'JB_Coal',
       'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal', 'CN_Oil', 'CB_Oil',
       'Jeju_LNG']].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Seoul_PM2.5,39385.0,21.885718,16.906571,1.000000,11.000000,18.000000,28.000000,162.000000
Seoul_PM10,39385.0,38.494401,30.767995,3.000000,21.000000,33.000000,48.000000,868.000000
Beijing_PM2.5,36897.0,35.400181,31.434107,2.070000,13.390000,26.070000,45.600000,340.520000
Beijing_PM10,35642.0,67.376354,89.626953,1.000000,29.000000,53.000000,85.000000,6450.000000
Seoul_NO2,1642.0,0.028310,0.011341,0.007840,0.019549,0.026323,0.035698,0.078500
Seoul_O3,1642.0,0.024365,0.011649,0.002974,0.015465,0.023396,0.031975,0.073740
Seoul_CO,1642.0,0.526591,0.168579,0.244000,0.402074,0.483837,0.605688,1.506667
Seoul_SO2,1642.0,0.003653,0.000917,0.002100,0.003005,0.003474,0.004043,0.009306
GW_LNG,1642.0,9351.481121,4463.791000,0.000000,6810.000000,8872.000000,11477.250000,29833.000000
GW_Coal,1642.0,54082.547503,14515.940259,12054.000000,43986.250000,53278.500000,65353.750000,84132.000000
GG_LNG,1642.0,193664.260049,55954.007631,23316.000000,157766.500000,192899.500000,227373.500000,364666.000000
GG_Coal,1642.0,3064.586480,1715.005598,0.000000,1291.000000,3585.500000,4776.000000,5139.000000
GG_Oil,1642.0,1301.495737,3808.193318,0.000000,0.000000,0.000000,578.000000,27532.000000
GN_Coal,1642.0,111874.704629,28362.477513,40097.000000,93856.500000,111870.000000,132840.750000,165762.000000
GN_Oil,1642.0,226.247259,101.735631,0.000000,165.000000,230.000000,290.000000,468.000000
GB_LNG,1642.0,5277.883678,2749.411514,0.000000,3503.750000,5857.500000,7351.750000,10040.000000
GB_Coal,1642.0,2420.089525,369.614099,924.000000,2421.000000,2545.000000,2617.000000,2915.000000
Gwangju_LNG,1642.0,1003.545676,793.143905,0.000000,349.500000,918.500000,1382.000000,2846.000000
Daegu_LNG,1642.0,6806.718027,2549.450682,0.000000,5774.750000,7526.000000,8628.750000,10140.000000
Daegu_Coal,1642.0,7.822777,13.671595,0.000000,0.000000,1.000000,10.000000,76.000000
Daegu_Oil,1642.0,231.500609,283.932443,0.000000,0.000000,0.000000,578.000000,698.000000
Daejeon_LNG,1642.0,310.956151,326.473741,0.000000,42.000000,161.000000,538.000000,1293.000000
Daejeon_Oil,1009.0,131.565907,263.768056,0.000000,0.000000,0.000000,0.000000,1252.000000
Busan_LNG,1642.0,19310.471376,10245.849777,0.000000,12381.000000,20172.500000,26525.750000,49526.000000
Busan_Coal,1642.0,74.025579,58.113554,0.000000,0.000000,88.000000,124.000000,190.000000
Seoul_LNG,1642.0,7582.088307,6463.240261,0.000000,720.250000,7555.000000,14474.250000,18931.000000
Sejong_LNG,1642.0,8832.871498,3567.006907,0.000000,8747.750000,10240.000000,11035.750000,12500.000000
Ulsan_LNG,1642.0,26527.669915,7427.473987,1977.000000,21096.000000,25041.000000,31480.250000,57375.000000
Ulsan_Oil,1492.0,4424.193700,6941.565145,0.000000,0.000000,0.000000,7085.250000,24552.000000
Incheon_LNG,1642.0,66283.292935,23684.339491,9035.000000,47556.250000,63277.000000,83250.000000,135495.000000
Incheon_Coal,1642.0,85541.014007,18906.514033,41439.000000,71312.000000,88953.000000,104285.000000,115377.000000
JN_LNG,1642.0,34011.807552,8400.408235,0.000000,30558.750000,36049.000000,39680.250000,48207.000000
JN_Coal,1642.0,21827.722290,5749.264651,6000.000000,18538.500000,22541.000000,25957.500000,33580.000000
JB_LNG,1642.0,4801.947625,3664.669796,0.000000,358.500000,5129.500000,7477.500000,16723.000000
JB_Coal,1642.0,16406.384896,3130.481558,4057.000000,15314.250000,17924.500000,18604.000000,19248.000000
JB_Oil,1642.0,320.674178,95.241438,0.000000,308.250000,342.000000,377.000000,413.000000
Jeju_Oil,1642.0,3031.517661,2892.319292,0.000000,567.250000,1590.000000,5731.000000,11585.000000
CN_LNG,1642.0,21272.053593,9596.343281,0.000000,15473.000000,20142.500000,27179.000000,54423.000000
CN_Coal,1642.0,259374.260049,50948.234416,97051.000000,221103.500000,264848.000000,300522.750000,357234.000000
CN_Oil,1642.0,30.922046,248.324136,0.000000,0.000000,0.000000,0.000000,5887.000000
CB_Oil,1642.0,364.428136,482.989998,0.000000,0.000000,0.000000,888.750000,1211.000000
Jeju_LNG,927.0,3866.466019,1162.527154,845.000000,2982.500000,3946.000000,4734.000000,6872.000000

## null값의 개수

일별 값들은 어쩔 수 없이 null값이 많다.

* [dataframe 결측값 채우기 참고 문서](https://wikidocs.net/153209)

In [ ]:
df[['Seoul_PM2.5', 'Seoul_PM10','Beijing_PM2.5', 'Beijing_PM10', 'Seoul_NO2', 'Seoul_O3', 'Seoul_CO',
       'Seoul_SO2', 'GW_LNG', 'GW_Coal', 'GG_LNG', 'GG_Coal', 'GG_Oil',
       'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG', 'Daegu_LNG',
       'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil', 'Busan_LNG',
       'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG', 'Ulsan_Oil',
       'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal', 'JB_LNG', 'JB_Coal',
       'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal', 'CN_Oil', 'CB_Oil',
       'Jeju_LNG']].isna().sum()

Seoul_PM2.5          0
Seoul_PM10           0
Beijing_PM2.5     2488
Beijing_PM10      3743
Seoul_NO2        37743
Seoul_O3         37743
Seoul_CO         37743
Seoul_SO2        37743
GW_LNG           37743
GW_Coal          37743
GG_LNG           37743
GG_Coal          37743
GG_Oil           37743
GN_Coal          37743
GN_Oil           37743
GB_LNG           37743
GB_Coal          37743
Gwangju_LNG      37743
Daegu_LNG        37743
Daegu_Coal       37743
Daegu_Oil        37743
Daejeon_LNG      37743
Daejeon_Oil      38376
Busan_LNG        37743
Busan_Coal       37743
Seoul_LNG        37743
Sejong_LNG       37743
Ulsan_LNG        37743
Ulsan_Oil        37893
Incheon_LNG      37743
Incheon_Coal     37743
JN_LNG           37743
JN_Coal          37743
JB_LNG           37743
JB_Coal          37743
JB_Oil           37743
Jeju_Oil         37743
CN_LNG           37743
CN_Coal          37743
CN_Oil           37743
CB_Oil           37743
Jeju_LNG         38458
dtype: int64

# 시간별 데이터 사용

In [ ]:
df_daily=df
df_daily.head(32)

,Year,Month,Day,UTCHour,Seoul_PM10,Seoul_PM2.5,Beijing_PM2.5,Beijing_PM10,Seoul_NO2,Seoul_O3,...,JN_Coal,JB_LNG,JB_Coal,JB_Oil,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG
0,2018,1,1,0,36.0,18.0,25.625,102.0,0.035946,0.010081,...,26116.0,0.0,19139.0,404.0,6834.0,10867.0,290788.0,0.0,1107.0,NaN
1,2018,1,1,1,36.0,18.0,33.540,95.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,1,1,2,35.0,17.0,45.430,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,1,1,3,34.0,18.0,58.410,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,1,1,4,34.0,18.0,68.650,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2018,1,1,5,34.0,17.0,66.520,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2018,1,1,6,34.0,19.0,59.720,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2018,1,1,7,35.0,19.0,60.070,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018,1,1,8,35.0,19.0,59.300,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2018,1,1,9,35.0,19.0,55.480,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2018,1,1,10,33.0,17.0,72.550,36.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2018,1,1,11,37.0,19.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2018,1,1,12,39.0,18.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2018,1,1,13,36.0,17.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2018,1,1,14,38.0,18.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2018,1,1,15,50.0,23.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2018,1,1,16,57.0,25.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2018,1,1,17,56.0,26.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2018,1,1,18,55.0,26.0,38.620,83.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2018,1,1,19,52.0,23.0,33.960,107.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2018,1,1,20,50.0,24.0,29.680,116.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2018,1,1,21,48.0,25.0,24.470,114.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2018,1,1,22,50.0,27.0,19.450,100.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2018,1,1,23,51.0,28.0,16.910,76.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2018,1,2,0,52.0,28.0,17.150,65.0,0.040000,0.009622,...,28611.0,7107.0,19027.0,402.0,8006.0,21904.0,334588.0,0.0,721.0,NaN
25,2018,1,2,1,51.0,29.0,22.740,56.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2018,1,2,2,49.0,29.0,33.560,58.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2018,1,2,3,49.0,29.0,48.040,63.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2018,1,2,4,49.0,28.0,55.540,70.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2018,1,2,5,47.0,28.0,54.100,68.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2018,1,2,6,48.0,27.0,51.090,77.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2018,1,2,7,49.0,29.0,49.450,82.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#target 값인 Seoul_PM2.5에 대해 0,1,2,3 라벨링 해주는 코드 셀
#target인 Seoul_PM2.5/10에 nan 값 있는 행 삭제, index 초기화
df_daily = df_daily.dropna(subset=['Seoul_PM2.5','Seoul_PM10']).reset_index(drop = True) 


pm25 = [16, 36, 76]
pm10 = [31, 81, 151]

df_daily['class_pm2.5'] = -1
df_daily['class_pm10'] = -1

for i,pm in enumerate(pm25):
  print(i,pm)
  df_daily.loc[(df_daily['class_pm2.5'] == -1) & (df_daily['Seoul_PM2.5'] < pm), 'class_pm2.5'] = i
df_daily.loc[(df_daily['class_pm2.5'] == -1), 'class_pm2.5'] = 3

for i,pm in enumerate(pm10):
  print(i,pm)
  df_daily.loc[(df_daily['class_pm10'] == -1) & (df_daily['Seoul_PM10'] < pm), 'class_pm10'] = i
df_daily.loc[(df_daily['class_pm10'] == -1), 'class_pm10'] = 3

df_daily.head()

0 16
1 36
2 76
0 31
1 81
2 151

,Year,Month,Day,UTCHour,Seoul_PM10,Seoul_PM2.5,Beijing_PM2.5,Beijing_PM10,Seoul_NO2,Seoul_O3,...,JB_Coal,JB_Oil,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG,class_pm2.5,class_pm10
0,2018,1,1,0,36.0,18.0,25.625,102.0,0.035946,0.010081,...,19139.0,404.0,6834.0,10867.0,290788.0,0.0,1107.0,NaN,1,1
1,2018,1,1,1,36.0,18.0,33.540,95.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
2,2018,1,1,2,35.0,17.0,45.430,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
3,2018,1,1,3,34.0,18.0,58.410,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
4,2018,1,1,4,34.0,18.0,68.650,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [ ]:
df_daily.columns

Index(['Year', 'Month', 'Day', 'UTCHour', 'Seoul_PM10', 'Seoul_PM2.5',
       'Beijing_PM2.5', 'Beijing_PM10', 'Seoul_NO2', 'Seoul_O3', 'Seoul_CO',
       'Seoul_SO2', 'GW_LNG', 'GW_Coal', 'GG_LNG', 'GG_Coal', 'GG_Oil',
       'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG', 'Daegu_LNG',
       'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil', 'Busan_LNG',
       'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG', 'Ulsan_Oil',
       'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal', 'JB_LNG', 'JB_Coal',
       'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal', 'CN_Oil', 'CB_Oil',
       'Jeju_LNG', 'class_pm2.5', 'class_pm10'],
      dtype='object')

In [ ]:
# 널 값 확인 
df_daily[['Seoul_PM10', 'Seoul_PM2.5', 'Beijing_PM2.5', 'Beijing_PM10',
       'Seoul_NO2', 'Seoul_O3', 'Seoul_CO', 'Seoul_SO2', 'GW_LNG', 'GW_Coal',
       'GG_LNG', 'GG_Coal', 'GG_Oil', 'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal',
       'Gwangju_LNG', 'Daegu_LNG', 'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG',
       'Daejeon_Oil', 'Busan_LNG', 'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG',
       'Ulsan_LNG', 'Ulsan_Oil', 'Incheon_LNG', 'Incheon_Coal', 'JN_LNG',
       'JN_Coal', 'JB_LNG', 'JB_Coal', 'JB_Oil', 'Jeju_Oil', 'CN_LNG',
       'CN_Coal', 'CN_Oil', 'CB_Oil', 'Jeju_LNG','class_pm2.5', 'class_pm10']].isna().sum()

Seoul_PM10           0
Seoul_PM2.5          0
Beijing_PM2.5     2488
Beijing_PM10      3743
Seoul_NO2        37743
Seoul_O3         37743
Seoul_CO         37743
Seoul_SO2        37743
GW_LNG           37743
GW_Coal          37743
GG_LNG           37743
GG_Coal          37743
GG_Oil           37743
GN_Coal          37743
GN_Oil           37743
GB_LNG           37743
GB_Coal          37743
Gwangju_LNG      37743
Daegu_LNG        37743
Daegu_Coal       37743
Daegu_Oil        37743
Daejeon_LNG      37743
Daejeon_Oil      38376
Busan_LNG        37743
Busan_Coal       37743
Seoul_LNG        37743
Sejong_LNG       37743
Ulsan_LNG        37743
Ulsan_Oil        37893
Incheon_LNG      37743
Incheon_Coal     37743
JN_LNG           37743
JN_Coal          37743
JB_LNG           37743
JB_Coal          37743
JB_Oil           37743
Jeju_Oil         37743
CN_LNG           37743
CN_Coal          37743
CN_Oil           37743
CB_Oil           37743
Jeju_LNG         38458
class_pm2.5          0
class_pm10           0
dtype: int64

In [ ]:
# 필요한 모듈 불러오기
import numpy as np
from sklearn.model_selection import train_test_split
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV
import pandas as pd

In [ ]:
# 널 값 0으로 채우기 
df_daily['Daejeon_Oil'] = df_daily['Daejeon_Oil'].fillna(0)
df_daily['Ulsan_Oil'] = df_daily['Ulsan_Oil'].fillna(0)
df_daily['Jeju_LNG'] = df_daily['Jeju_LNG'].fillna(0)

In [ ]:
# 종속변수의 결측치를 처리하기 위해 interpolate()사용
df_daily = df_daily.interpolate(limit_direction ='forward')

In [ ]:
df_daily.head(32)

,Year,Month,Day,UTCHour,Seoul_PM10,Seoul_PM2.5,Beijing_PM2.5,Beijing_PM10,Seoul_NO2,Seoul_O3,...,JB_Coal,JB_Oil,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG,class_pm2.5,class_pm10
0,2018,1,1,0,36.0,18.0,25.62500,102.000000,0.035946,0.010081,...,19139.000000,404.000000,6834.000000,10867.000,290788.000,0.0,1107.000000,0.0,1,1
1,2018,1,1,1,36.0,18.0,33.54000,95.000000,0.036115,0.010062,...,19134.333333,403.916667,6882.833333,11326.875,292613.000,0.0,1090.916667,0.0,1,1
2,2018,1,1,2,35.0,17.0,45.43000,88.444444,0.036284,0.010043,...,19129.666667,403.833333,6931.666667,11786.750,294438.000,0.0,1074.833333,0.0,1,1
3,2018,1,1,3,34.0,18.0,58.41000,81.888889,0.036453,0.010024,...,19125.000000,403.750000,6980.500000,12246.625,296263.000,0.0,1058.750000,0.0,1,1
4,2018,1,1,4,34.0,18.0,68.65000,75.333333,0.036622,0.010005,...,19120.333333,403.666667,7029.333333,12706.500,298088.000,0.0,1042.666667,0.0,1,1
5,2018,1,1,5,34.0,17.0,66.52000,68.777778,0.036791,0.009985,...,19115.666667,403.583333,7078.166667,13166.375,299913.000,0.0,1026.583333,0.0,1,1
6,2018,1,1,6,34.0,19.0,59.72000,62.222222,0.036959,0.009966,...,19111.000000,403.500000,7127.000000,13626.250,301738.000,0.0,1010.500000,0.0,1,1
7,2018,1,1,7,35.0,19.0,60.07000,55.666667,0.037128,0.009947,...,19106.333333,403.416667,7175.833333,14086.125,303563.000,0.0,994.416667,0.0,1,1
8,2018,1,1,8,35.0,19.0,59.30000,49.111111,0.037297,0.009928,...,19101.666667,403.333333,7224.666667,14546.000,305388.000,0.0,978.333333,0.0,1,1
9,2018,1,1,9,35.0,19.0,55.48000,42.555556,0.037466,0.009909,...,19097.000000,403.250000,7273.500000,15005.875,307213.000,0.0,962.250000,0.0,1,1
10,2018,1,1,10,33.0,17.0,72.55000,36.000000,0.037635,0.009890,...,19092.333333,403.166667,7322.333333,15465.750,309038.000,0.0,946.166667,0.0,1,1
11,2018,1,1,11,37.0,19.0,68.30875,41.875000,0.037804,0.009870,...,19087.666667,403.083333,7371.166667,15925.625,310863.000,0.0,930.083333,0.0,1,1
12,2018,1,1,12,39.0,18.0,64.06750,47.750000,0.037973,0.009851,...,19083.000000,403.000000,7420.000000,16385.500,312688.000,0.0,914.000000,0.0,1,1
13,2018,1,1,13,36.0,17.0,59.82625,53.625000,0.038142,0.009832,...,19078.333333,402.916667,7468.833333,16845.375,314513.000,0.0,897.916667,0.0,1,1
14,2018,1,1,14,38.0,18.0,55.58500,59.500000,0.038311,0.009813,...,19073.666667,402.833333,7517.666667,17305.250,316338.000,0.0,881.833333,0.0,1,1
15,2018,1,1,15,50.0,23.0,51.34375,65.375000,0.038480,0.009794,...,19069.000000,402.750000,7566.500000,17765.125,318163.000,0.0,865.750000,0.0,1,1
16,2018,1,1,16,57.0,25.0,47.10250,71.250000,0.038649,0.009775,...,19064.333333,402.666667,7615.333333,18225.000,319988.000,0.0,849.666667,0.0,1,1
17,2018,1,1,17,56.0,26.0,42.86125,77.125000,0.038818,0.009756,...,19059.666667,402.583333,7664.166667,18684.875,321813.000,0.0,833.583333,0.0,1,1
18,2018,1,1,18,55.0,26.0,38.62000,83.000000,0.038986,0.009736,...,19055.000000,402.500000,7713.000000,19144.750,323638.000,0.0,817.500000,0.0,1,1
19,2018,1,1,19,52.0,23.0,33.96000,107.000000,0.039155,0.009717,...,19050.333333,402.416667,7761.833333,19604.625,325463.000,0.0,801.416667,0.0,1,1
20,2018,1,1,20,50.0,24.0,29.68000,116.000000,0.039324,0.009698,...,19045.666667,402.333333,7810.666667,20064.500,327288.000,0.0,785.333333,0.0,1,1
21,2018,1,1,21,48.0,25.0,24.47000,114.000000,0.039493,0.009679,...,19041.000000,402.250000,7859.500000,20524.375,329113.000,0.0,769.250000,0.0,1,1
22,2018,1,1,22,50.0,27.0,19.45000,100.000000,0.039662,0.009660,...,19036.333333,402.166667,7908.333333,20984.250,330938.000,0.0,753.166667,0.0,1,1
23,2018,1,1,23,51.0,28.0,16.91000,76.000000,0.039831,0.009641,...,19031.666667,402.083333,7957.166667,21444.125,332763.000,0.0,737.083333,0.0,1,1
24,2018,1,2,0,52.0,28.0,17.15000,65.000000,0.040000,0.009622,...,19027.000000,402.000000,8006.000000,21904.000,334588.000,0.0,721.000000,0.0,1,1
25,2018,1,2,1,51.0,29.0,22.74000,56.000000,0.039452,0.009825,...,19027.333333,401.791667,7929.083333,22162.625,335036.375,0.0,704.375000,0.0,1,1
26,2018,1,2,2,49.0,29.0,33.56000,58.000000,0.038904,0.010028,...,19027.666667,401.583333,7852.166667,22421.250,335484.750,0.0,687.750000,0.0,1,1
27,2018,1,2,3,49.0,29.0,48.04000,63.000000,0.038355,0.010231,...,19028.000000,401.375000,7775.250000,22679.875,335933.125,0.0,671.125000,0.0,1,1
28,2018,1,2,4,49.0,28.0,55.54000,70.000000,0.037807,0.010435,...,19028.333333,401.166667,7698.333333,22938.500,336381.500,0.0,654.500000,0.0,1,1
29,2018,1,2,5,47.0,28.0,54.10000,68.000000,0.037259,0.010638,...,19028.666667,400.958333,7621.416667,23197.125,336829.875,0.0,637.875000,0.0,1,1
30,2018,1,2,6,48.0,27.0,51.09000,77.000000,0.036711,0.010841,...,19029.000000,400.750000,7544.500000,23455.750,337278.250,0.0,621.250000,0.0,1,1
31,2018,1,2,7,49.0,29.0,49.45000,82.000000,0.036162,0.011044,...,19029.333333,400.541667,7467.583333,23714.375,337726.625,0.0,604.625000,0.0,1,1

# target 라벨링, 슬라이딩 윈도우 적용

In [ ]:
#target 값인 Seoul_PM2.5에 대해 0,1,2,3 라벨링 해주는 코드 셀

df = df_daily.dropna(subset=['Seoul_PM2.5','Seoul_PM10']).reset_index(drop = True) 
#target인 Seoul_PM2.5/10에 nan 값 있는 행 삭제, index 초기화

pm25 = [16, 36, 76]
pm10 = [31, 81, 151]

df['class_pm2.5'] = -1
df['class_pm10'] = -1

for i,pm in enumerate(pm25):
  print(i,pm)
  df.loc[(df['class_pm2.5'] == -1) & (df['Seoul_PM2.5'] < pm), 'class_pm2.5'] = i
df.loc[(df['class_pm2.5'] == -1), 'class_pm2.5'] = 3

for i,pm in enumerate(pm10):
  df.loc[(df['class_pm10'] == -1) & (df['Seoul_PM10'] < pm), 'class_pm10'] = i
df.loc[(df['class_pm10'] == -1), 'class_pm10'] = 3

0 16
1 36
2 76

In [ ]:
#특히 중국은 당일의 미세먼지보다 하루 이틀 전의 미세먼지가 한국에 영향을 미칠 것으로 예상되니까
#타겟 데이터 기준 1일 전, 2일 전 데이터 생성 -> 이전 날들의 미세먼지 기록을 반영할 수 있도록.

Seoul_PM25 = pd.DataFrame({'Seoul_PM2.5(t-2)':[],'Seoul_PM2.5(t-1)':[]})
Seoul_PM10 = pd.DataFrame({'Seoul_PM10(t-2)':[],'Seoul_PM10(t-1)':[]})
Beijing_PM10 = pd.DataFrame({'Beijing_PM10(t-2)':[],'Beijing_PM10(t-1)':[]})
Beijing_PM25 = pd.DataFrame({'Beijing_PM2.5(t-2)':[],'Beijing_PM2.5(t-1)':[]})
Seoul_PMtarget = pd.DataFrame({'Seoul_PM2.5(t)':[],'Seoul_PM10(t)':[]})

temp = df_daily.copy()

temp.reset_index(drop=True, inplace=True)

for i in range(temp.shape[0]-2):
  rowS25 = pd.DataFrame({'Seoul_PM2.5(t-2)':[temp['Seoul_PM2.5'][i]],'Seoul_PM2.5(t-1)':[temp['Seoul_PM2.5'][i+1]]})
  rowS10 = pd.DataFrame({'Seoul_PM10(t-2)':[temp['Seoul_PM10'][i]],'Seoul_PM10(t-1)':[temp['Seoul_PM10'][i+1]]})
  rowB25 = pd.DataFrame({'Beijing_PM2.5(t-2)':[temp['Beijing_PM2.5'][i]],'Beijing_PM2.5(t-1)':[temp['Beijing_PM2.5'][i+1]]})
  rowB10 = pd.DataFrame({'Beijing_PM10(t-2)':[temp['Beijing_PM10'][i]],'Beijing_PM10(t-1)':[temp['Beijing_PM10'][i+1]]})
  target = pd.DataFrame({'Seoul_PM2.5(t)':[temp['Seoul_PM2.5'][i+2]],'Seoul_PM10(t)':[temp['Seoul_PM10'][i+2]]})

  Seoul_PM25 = pd.concat([Seoul_PM25, rowS25], ignore_index = True)
  Seoul_PM10 = pd.concat([Seoul_PM10, rowS10], ignore_index = True)
  Beijing_PM25 = pd.concat([Beijing_PM25, rowB25], ignore_index = True)
  Beijing_PM10 = pd.concat([Beijing_PM10, rowB10], ignore_index = True)
  Seoul_PMtarget = pd.concat([Seoul_PMtarget, target], ignore_index = True)

In [ ]:
# 데이터 형태 확인 
Seoul_PM25.shape, Seoul_PM10.shape, Beijing_PM25.shape, Beijing_PM10.shape, Seoul_PMtarget.shape

((39383, 2), (39383, 2), (39383, 2), (39383, 2), (39383, 2))

In [ ]:
Seoul_PMtarget

       Seoul_PM2.5(t)  Seoul_PM10(t)
0                17.0           35.0
1                18.0           34.0
2                18.0           34.0
3                17.0           34.0
4                19.0           34.0
...               ...            ...
39378             6.0           12.0
39379             4.0            9.0
39380             2.0            6.0
39381             3.0            7.0
39382             3.0            7.0

[39383 rows x 2 columns]

In [ ]:
df.head()

,Year,Month,Day,UTCHour,Seoul_PM10,Seoul_PM2.5,Beijing_PM2.5,Beijing_PM10,Seoul_NO2,Seoul_O3,...,JB_Coal,JB_Oil,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG,class_pm2.5,class_pm10
0,2018,1,1,0,36.0,18.0,25.625,102.000000,0.035946,0.010081,...,19139.000000,404.000000,6834.000000,10867.000,290788.0,0.0,1107.000000,0.0,1,1
1,2018,1,1,1,36.0,18.0,33.540,95.000000,0.036115,0.010062,...,19134.333333,403.916667,6882.833333,11326.875,292613.0,0.0,1090.916667,0.0,1,1
2,2018,1,1,2,35.0,17.0,45.430,88.444444,0.036284,0.010043,...,19129.666667,403.833333,6931.666667,11786.750,294438.0,0.0,1074.833333,0.0,1,1
3,2018,1,1,3,34.0,18.0,58.410,81.888889,0.036453,0.010024,...,19125.000000,403.750000,6980.500000,12246.625,296263.0,0.0,1058.750000,0.0,1,1
4,2018,1,1,4,34.0,18.0,68.650,75.333333,0.036622,0.010005,...,19120.333333,403.666667,7029.333333,12706.500,298088.0,0.0,1042.666667,0.0,1,1

In [ ]:
df.drop(df.index[0:2], inplace=True)
df = df.reset_index(drop=True)
df = df[df.columns[4:]]
df = pd.concat([Seoul_PM25, Seoul_PM10, Beijing_PM25, Beijing_PM10, df, Seoul_PMtarget], axis=1)

In [ ]:
df

,Seoul_PM2.5(t-2),Seoul_PM2.5(t-1),Seoul_PM10(t-2),Seoul_PM10(t-1),Beijing_PM2.5(t-2),Beijing_PM2.5(t-1),Beijing_PM10(t-2),Beijing_PM10(t-1),Seoul_PM10,Seoul_PM2.5,...,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG,class_pm2.5,class_pm10,Seoul_PM2.5(t),Seoul_PM10(t)
0,18.0,18.0,36.0,36.0,25.625,33.54,102.000000,95.000000,35.0,17.0,...,6931.666667,11786.750000,294438.000000,0.000000,1074.833333,0.0,1,1,17.0,35.0
1,18.0,17.0,36.0,35.0,33.540,45.43,95.000000,88.444444,34.0,18.0,...,6980.500000,12246.625000,296263.000000,0.000000,1058.750000,0.0,1,1,18.0,34.0
2,17.0,18.0,35.0,34.0,45.430,58.41,88.444444,81.888889,34.0,18.0,...,7029.333333,12706.500000,298088.000000,0.000000,1042.666667,0.0,1,1,18.0,34.0
3,18.0,18.0,34.0,34.0,58.410,68.65,81.888889,75.333333,34.0,17.0,...,7078.166667,13166.375000,299913.000000,0.000000,1026.583333,0.0,1,1,17.0,34.0
4,18.0,17.0,34.0,34.0,68.650,66.52,75.333333,68.777778,34.0,19.0,...,7127.000000,13626.250000,301738.000000,0.000000,1010.500000,0.0,1,1,19.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39378,9.0,9.0,19.0,18.0,10.380,9.93,13.000000,14.000000,12.0,6.0,...,1542.166667,35033.333333,294086.166667,204.166667,83.000000,0.0,0,0,6.0,12.0
39379,9.0,6.0,18.0,12.0,9.930,10.01,14.000000,16.000000,9.0,4.0,...,1530.875000,34342.250000,294244.125000,153.125000,84.250000,0.0,0,0,4.0,9.0
39380,6.0,4.0,12.0,9.0,10.010,9.99,16.000000,18.000000,6.0,2.0,...,1519.583333,33651.166667,294402.083333,102.083333,85.500000,0.0,0,0,2.0,6.0
39381,4.0,2.0,9.0,6.0,9.990,9.86,18.000000,19.000000,7.0,3.0,...,1508.291667,32960.083333,294560.041667,51.041667,86.750000,0.0,0,0,3.0,7.0
39382,2.0,3.0,6.0,7.0,9.860,10.50,19.000000,20.000000,7.0,3.0,...,1497.000000,32269.000000,294718.000000,0.000000,88.000000,4640.0,0,0,3.0,7.0

In [ ]:
df.columns

Index(['Seoul_PM2.5(t-2)', 'Seoul_PM2.5(t-1)', 'Seoul_PM10(t-2)',
       'Seoul_PM10(t-1)', 'Beijing_PM2.5(t-2)', 'Beijing_PM2.5(t-1)',
       'Beijing_PM10(t-2)', 'Beijing_PM10(t-1)', 'Seoul_PM10', 'Seoul_PM2.5',
       'Beijing_PM2.5', 'Beijing_PM10', 'Seoul_NO2', 'Seoul_O3', 'Seoul_CO',
       'Seoul_SO2', 'GW_LNG', 'GW_Coal', 'GG_LNG', 'GG_Coal', 'GG_Oil',
       'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG', 'Daegu_LNG',
       'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil', 'Busan_LNG',
       'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG', 'Ulsan_Oil',
       'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal', 'JB_LNG', 'JB_Coal',
       'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal', 'CN_Oil', 'CB_Oil',
       'Jeju_LNG', 'class_pm2.5', 'class_pm10', 'Seoul_PM2.5(t)',
       'Seoul_PM10(t)'],
      dtype='object')

In [ ]:
#널 값 확인 
df[['Seoul_PM2.5(t-2)', 'Seoul_PM2.5(t-1)', 'Seoul_PM10(t-2)',
       'Seoul_PM10(t-1)', 'Beijing_PM2.5(t-2)', 'Beijing_PM2.5(t-1)',
       'Beijing_PM10(t-2)', 'Beijing_PM10(t-1)', 'Seoul_NO2', 'Seoul_O3',
       'Seoul_CO', 'Seoul_SO2', 'GW_LNG', 'GW_Coal', 'GG_LNG', 'GG_Coal',
       'GG_Oil', 'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG',
       'Daegu_LNG', 'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil',
       'Busan_LNG', 'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG',
       'Ulsan_Oil', 'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal',
       'JB_LNG', 'JB_Coal', 'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal',
       'CN_Oil', 'CB_Oil', 'Jeju_LNG', 'class_pm2.5', 'class_pm10',
       'Seoul_PM2.5(t)', 'Seoul_PM10(t)']].isna().sum()

Seoul_PM2.5(t-2)      0
Seoul_PM2.5(t-1)      0
Seoul_PM10(t-2)       0
Seoul_PM10(t-1)       0
Beijing_PM2.5(t-2)    0
Beijing_PM2.5(t-1)    0
Beijing_PM10(t-2)     0
Beijing_PM10(t-1)     0
Seoul_NO2             0
Seoul_O3              0
Seoul_CO              0
Seoul_SO2             0
GW_LNG                0
GW_Coal               0
GG_LNG                0
GG_Coal               0
GG_Oil                0
GN_Coal               0
GN_Oil                0
GB_LNG                0
GB_Coal               0
Gwangju_LNG           0
Daegu_LNG             0
Daegu_Coal            0
Daegu_Oil             0
Daejeon_LNG           0
Daejeon_Oil           0
Busan_LNG             0
Busan_Coal            0
Seoul_LNG             0
Sejong_LNG            0
Ulsan_LNG             0
Ulsan_Oil             0
Incheon_LNG           0
Incheon_Coal          0
JN_LNG                0
JN_Coal               0
JB_LNG                0
JB_Coal               0
JB_Oil                0
Jeju_Oil              0
CN_LNG                0
CN_Coal               0
CN_Oil                0
CB_Oil                0
Jeju_LNG              0
class_pm2.5           0
class_pm10            0
Seoul_PM2.5(t)        0
Seoul_PM10(t)         0
dtype: int64

In [ ]:
df.head(32)

,Seoul_PM2.5(t-2),Seoul_PM2.5(t-1),Seoul_PM10(t-2),Seoul_PM10(t-1),Beijing_PM2.5(t-2),Beijing_PM2.5(t-1),Beijing_PM10(t-2),Beijing_PM10(t-1),Seoul_PM10,Seoul_PM2.5,...,Jeju_Oil,CN_LNG,CN_Coal,CN_Oil,CB_Oil,Jeju_LNG,class_pm2.5,class_pm10,Seoul_PM2.5(t),Seoul_PM10(t)
0,18.0,18.0,36.0,36.0,25.62500,33.54000,102.000000,95.000000,35.0,17.0,...,6931.666667,11786.750,294438.000,0.0,1074.833333,0.0,1,1,17.0,35.0
1,18.0,17.0,36.0,35.0,33.54000,45.43000,95.000000,88.444444,34.0,18.0,...,6980.500000,12246.625,296263.000,0.0,1058.750000,0.0,1,1,18.0,34.0
2,17.0,18.0,35.0,34.0,45.43000,58.41000,88.444444,81.888889,34.0,18.0,...,7029.333333,12706.500,298088.000,0.0,1042.666667,0.0,1,1,18.0,34.0
3,18.0,18.0,34.0,34.0,58.41000,68.65000,81.888889,75.333333,34.0,17.0,...,7078.166667,13166.375,299913.000,0.0,1026.583333,0.0,1,1,17.0,34.0
4,18.0,17.0,34.0,34.0,68.65000,66.52000,75.333333,68.777778,34.0,19.0,...,7127.000000,13626.250,301738.000,0.0,1010.500000,0.0,1,1,19.0,34.0
5,17.0,19.0,34.0,34.0,66.52000,59.72000,68.777778,62.222222,35.0,19.0,...,7175.833333,14086.125,303563.000,0.0,994.416667,0.0,1,1,19.0,35.0
6,19.0,19.0,34.0,35.0,59.72000,60.07000,62.222222,55.666667,35.0,19.0,...,7224.666667,14546.000,305388.000,0.0,978.333333,0.0,1,1,19.0,35.0
7,19.0,19.0,35.0,35.0,60.07000,59.30000,55.666667,49.111111,35.0,19.0,...,7273.500000,15005.875,307213.000,0.0,962.250000,0.0,1,1,19.0,35.0
8,19.0,19.0,35.0,35.0,59.30000,55.48000,49.111111,42.555556,33.0,17.0,...,7322.333333,15465.750,309038.000,0.0,946.166667,0.0,1,1,17.0,33.0
9,19.0,17.0,35.0,33.0,55.48000,72.55000,42.555556,36.000000,37.0,19.0,...,7371.166667,15925.625,310863.000,0.0,930.083333,0.0,1,1,19.0,37.0
10,17.0,19.0,33.0,37.0,72.55000,68.30875,36.000000,41.875000,39.0,18.0,...,7420.000000,16385.500,312688.000,0.0,914.000000,0.0,1,1,18.0,39.0
11,19.0,18.0,37.0,39.0,68.30875,64.06750,41.875000,47.750000,36.0,17.0,...,7468.833333,16845.375,314513.000,0.0,897.916667,0.0,1,1,17.0,36.0
12,18.0,17.0,39.0,36.0,64.06750,59.82625,47.750000,53.625000,38.0,18.0,...,7517.666667,17305.250,316338.000,0.0,881.833333,0.0,1,1,18.0,38.0
13,17.0,18.0,36.0,38.0,59.82625,55.58500,53.625000,59.500000,50.0,23.0,...,7566.500000,17765.125,318163.000,0.0,865.750000,0.0,1,1,23.0,50.0
14,18.0,23.0,38.0,50.0,55.58500,51.34375,59.500000,65.375000,57.0,25.0,...,7615.333333,18225.000,319988.000,0.0,849.666667,0.0,1,1,25.0,57.0
15,23.0,25.0,50.0,57.0,51.34375,47.10250,65.375000,71.250000,56.0,26.0,...,7664.166667,18684.875,321813.000,0.0,833.583333,0.0,1,1,26.0,56.0
16,25.0,26.0,57.0,56.0,47.10250,42.86125,71.250000,77.125000,55.0,26.0,...,7713.000000,19144.750,323638.000,0.0,817.500000,0.0,1,1,26.0,55.0
17,26.0,26.0,56.0,55.0,42.86125,38.62000,77.125000,83.000000,52.0,23.0,...,7761.833333,19604.625,325463.000,0.0,801.416667,0.0,1,1,23.0,52.0
18,26.0,23.0,55.0,52.0,38.62000,33.96000,83.000000,107.000000,50.0,24.0,...,7810.666667,20064.500,327288.000,0.0,785.333333,0.0,1,1,24.0,50.0
19,23.0,24.0,52.0,50.0,33.96000,29.68000,107.000000,116.000000,48.0,25.0,...,7859.500000,20524.375,329113.000,0.0,769.250000,0.0,1,1,25.0,48.0
20,24.0,25.0,50.0,48.0,29.68000,24.47000,116.000000,114.000000,50.0,27.0,...,7908.333333,20984.250,330938.000,0.0,753.166667,0.0,1,1,27.0,50.0
21,25.0,27.0,48.0,50.0,24.47000,19.45000,114.000000,100.000000,51.0,28.0,...,7957.166667,21444.125,332763.000,0.0,737.083333,0.0,1,1,28.0,51.0
22,27.0,28.0,50.0,51.0,19.45000,16.91000,100.000000,76.000000,52.0,28.0,...,8006.000000,21904.000,334588.000,0.0,721.000000,0.0,1,1,28.0,52.0
23,28.0,28.0,51.0,52.0,16.91000,17.15000,76.000000,65.000000,51.0,29.0,...,7929.083333,22162.625,335036.375,0.0,704.375000,0.0,1,1,29.0,51.0
24,28.0,29.0,52.0,51.0,17.15000,22.74000,65.000000,56.000000,49.0,29.0,...,7852.166667,22421.250,335484.750,0.0,687.750000,0.0,1,1,29.0,49.0
25,29.0,29.0,51.0,49.0,22.74000,33.56000,56.000000,58.000000,49.0,29.0,...,7775.250000,22679.875,335933.125,0.0,671.125000,0.0,1,1,29.0,49.0
26,29.0,29.0,49.0,49.0,33.56000,48.04000,58.000000,63.000000,49.0,28.0,...,7698.333333,22938.500,336381.500,0.0,654.500000,0.0,1,1,28.0,49.0
27,29.0,28.0,49.0,49.0,48.04000,55.54000,63.000000,70.000000,47.0,28.0,...,7621.416667,23197.125,336829.875,0.0,637.875000,0.0,1,1,28.0,47.0
28,28.0,28.0,49.0,47.0,55.54000,54.10000,70.000000,68.000000,48.0,27.0,...,7544.500000,23455.750,337278.250,0.0,621.250000,0.0,1,1,27.0,48.0
29,28.0,27.0,47.0,48.0,54.10000,51.09000,68.000000,77.000000,49.0,29.0,...,7467.583333,23714.375,337726.625,0.0,604.625000,0.0,1,1,29.0,49.0
30,27.0,29.0,48.0,49.0,51.09000,49.45000,77.000000,82.000000,49.0,30.0,...,7390.666667,23973.000,338175.000,0.0,588.000000,0.0,1,1,30.0,49.0
31,29.0,30.0,49.0,49.0,49.45000,53.53000,82.000000,71.000000,54.0,33.0,...,7313.750000,24231.625,338623.375,0.0,571.375000,0.0,1,1,33.0,54.0

# pm 2.5

In [ ]:
# pm 2.5 input data, target data 생성 
input = df.loc[:, ['Beijing_PM2.5(t-2)', 'Beijing_PM2.5(t-1)',
       'Seoul_NO2', 'Seoul_O3','Seoul_CO', 'Seoul_SO2', 'GW_LNG', 'GW_Coal', 
       'GG_LNG', 'GG_Coal', 'GG_Oil', 'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG',
       'Daegu_LNG', 'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil',
       'Busan_LNG', 'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG',
       'Ulsan_Oil', 'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal',
       'JB_LNG', 'JB_Coal', 'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal',
       'CN_Oil', 'CB_Oil', 'Jeju_LNG']].to_numpy()
target = df.iloc[:, -4].to_numpy()

In [ ]:
# 데이터 분할하기 
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(input, target, test_size = 0.2, random_state=777)

In [ ]:
# 정규화
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)

train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [ ]:
# LightGBM 회귀 모델 생성
clf=lgb.LGBMRegressor()
clf.fit(train_scaled,train_target)

LGBMRegressor()

In [ ]:
# 훈련 데이터 셋, 테스트 데이터 셋 성능 확인
print(clf.score(train_scaled,train_target))
print(clf.score(test_scaled,test_target))

0.7643805289904011
0.7288246703294753

# 그리드 서치 진행

In [ ]:
# 파라미터 설정  
params = {'n_estimators':[100,500,1000],
          'learning_rate':[0.1,0.05,0.01],
          'max_depth':[7,8],
          'subsample':[0.8, 0.9,1]}

In [ ]:
# 그리디 서치 진행 
gs = GridSearchCV(lgb.LGBMRegressor(), params, n_jobs=-1)
gs.fit(train_scaled, train_target,verbose=1)

/usr/local/lib/python3.10/dist-packages/lightgbm/sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

GridSearchCV(estimator=LGBMRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.1, 0.05, 0.01],
                         'max_depth': [7, 8], 'n_estimators': [100, 500, 1000],
                         'subsample': [0.8, 0.9, 1]})

In [ ]:
print('GridSearchCV 최적 파라미터:', gs.best_params_)

GridSearchCV 최적 파라미터: {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 1000, 'subsample': 0.8}

In [ ]:
# 훈련 데이터 셋, 테스트 데이터 셋 성능 확인
print(gs.score(train_scaled,train_target))
print(gs.score(test_scaled,test_target))

0.9555140397775402
0.8799155381658667

# train_test_split_pm10

In [ ]:
# pm 10 input data, target data 생성 
input = df.loc[:, ['Beijing_PM10(t-2)', 'Beijing_PM10(t-1)', 'Seoul_NO2', 'Seoul_O3',
       'Seoul_CO', 'Seoul_SO2', 'GW_LNG', 'GW_Coal', 'GG_LNG', 'GG_Coal',
       'GG_Oil', 'GN_Coal', 'GN_Oil', 'GB_LNG', 'GB_Coal', 'Gwangju_LNG',
       'Daegu_LNG', 'Daegu_Coal', 'Daegu_Oil', 'Daejeon_LNG', 'Daejeon_Oil',
       'Busan_LNG', 'Busan_Coal', 'Seoul_LNG', 'Sejong_LNG', 'Ulsan_LNG',
       'Ulsan_Oil', 'Incheon_LNG', 'Incheon_Coal', 'JN_LNG', 'JN_Coal',
       'JB_LNG', 'JB_Coal', 'JB_Oil', 'Jeju_Oil', 'CN_LNG', 'CN_Coal',
       'CN_Oil', 'CB_Oil', 'Jeju_LNG']].to_numpy()
target = df.iloc[:, -3].to_numpy()

In [ ]:
# 데이터 분할하기 
from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(input, target, test_size = 0.2, random_state=777)

In [ ]:
# 정규화
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
ss.fit(train_input)

train_scaled = ss.transform(train_input)
test_scaled = ss.transform(test_input)

In [ ]:
# LightGBM 회귀 모델 생성
clf=lgb.LGBMRegressor()
clf.fit(train_scaled,train_target)

LGBMRegressor()

In [ ]:
# 훈련 데이터 셋, 테스트 데이터 셋 성능 확인
print(clf.score(train_scaled,train_target))
print(clf.score(test_scaled,test_target))

0.8821475306565749
0.8140625101921504

# 그리드 서치 진행

In [ ]:
# 파라미터 설정  
params = {'n_estimators':[100,500,1000],
          'learning_rate':[0.1,0.05,0.01],
          'max_depth':[7,8],
          'subsample':[0.8, 0.9,1]}

In [ ]:
# 그리디 서치 진행 
gs = GridSearchCV(lgb.LGBMRegressor(), params, n_jobs=-1)
gs.fit(train_scaled, train_target,verbose=2)

/usr/local/lib/python3.10/dist-packages/lightgbm/sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

GridSearchCV(estimator=LGBMRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.1, 0.05, 0.01],
                         'max_depth': [7, 8], 'n_estimators': [100, 500, 1000],
                         'subsample': [0.8, 0.9, 1]})

In [ ]:
print('GridSearchCV 최적 파라미터:', gs.best_params_)

GridSearchCV 최적 파라미터: {'learning_rate': 0.1, 'max_depth': 8, 'n_estimators': 1000, 'subsample': 0.8}

In [ ]:
# 훈련 데이터 셋, 테스트 데이터 셋 성능 확인
print(gs.score(train_scaled,train_target))
print(gs.score(test_scaled,test_target))

0.9880490313616174
0.946231377579668